.colors-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.color-hint {
    display: flex;
    align-items: center;
    padding: 0.5em;
    border-radius: 1em;
}

.red-color-hint {
    border: 1px solid var(--custom-red);
    margin-right: 1em;
    box-shadow: 0.1em 0.1em 0.3em var(--custom-red);
}

.blue-color-hint {
    border: 1px solid var(--custom-blue);
    box-shadow: 0.1em 0.1em 0.3em var(--custom-blue);
}

.square {
    width: 20px;
    height: 20px;
    border-radius: 0.3em;
}

.red-square {
    background-color: var(--custom-red);
}

.blue-square {
    background-color: var(--custom-blue);
}


.color-text {
    display: flex;
    margin:  0px 0.3em;
    flex-direction: row;
    align-items: center;
}
