.ingredient-list-container {
  display: grid;
  gap: 10px;
  flex-basis: 50%;
  padding-left: 20px;
  /* padding-right: 50px; */
}

.ingredient-item {
  display: flex;
  align-items: center;
  border: 0.15em solid white;
  border-radius: 1em;
}

.ingredient-number {
  vertical-align: middle;
  background-color: #161616;
  height: 100%;
  width: 4em;
  border-radius: inherit;
  margin-right: 20px;
  font-weight: bold;
}

.ingredient-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media (min-width: 768px) {
  .ingredient-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  .ingredient-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .ingredient-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .ingredient-list-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ingredient-delete-button {
  background-color:rgb(235, 72, 72);
}