.cocktail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 200px
}

.cocktail_thumnnail {
  max-width: 100%;
  height: auto;
  border-radius: 5px
}

.cocktail_text {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: #333;
}

.virgin {
  border: 0.5em solid #9198e5;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.alcoholic {
  border: 0.5em solid #e66465;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
}