.creation-container {
    padding-top: 40px;
}

input[type="text"].cocktail-name-input {
    width: 20%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.publish-btn:hover {
    background-color: #4cae4c;
    padding-bottom: 3em;
}