.search-main-container {
    padding-top: 120px;
}

.cocktails-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    place-content: center;
}

.cocktail-thumbnail {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.searched-name {
    color: var(--custom-red);
}

.title-text {
    color: var(--custom-blue);
}

.select-radio-btn {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

.select-radio-btn .select-inputs {
    margin: 0 10px;
}